@model _4Task.Models.Pilot

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая книга</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.name, "Название города")
    <br />
    @Html.EditorFor(model => model.name)
    @Html.LabelFor(model => model.name, "Название города")
    <br />
    @Html.EditorFor(model => model.name)
    @Html.LabelFor(model => model.name, "Название города")
    <br />
    @Html.EditorFor(model => model.name)
    <br />
    <br />
    <input type="submit" value="Добавить" />
}