@model FilterSortPagingApp.Models.Pilot

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый пилот</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.name, "Имя пилота")
    <br />
    @Html.EditorFor(model => model.name)
    <br />
    @Html.LabelFor(model => model.City.Name, "Город")
    <br />
    @Html.EditorFor(model => model.City.Name)
    <br />
    @Html.LabelFor(model => model.exp, "Стаж")
    <br />
    @Html.EditorFor(model => model.exp)
    <br />
    <br />
    <input type="submit" value="Добавить" />
}